body{
    margin:0;
}
.page{
    display: flex;
}
.containerleft{
    width: 30%;
    background-color:#FDD835;
}
.containerright{
    width: 70%; 
    margin-left: 8%; 
}
/*Partie gauche*/
.photo{
    border-radius: 100%;
    border: 3px solid #FDD835;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 30px auto;
}
/*section contact*/
.blockcontact{
    padding-bottom: 25px;
}
.titre{
    font-size: 30px;
    text-transform: uppercase;
    background-color: #424242;
    text-align: center;
    padding: 10px 0;
    color: #FDD835;
}
.contact{
    list-style-type: none;
    margin-left: 15%;
    font-size: 25px;
    padding: 0;
}
.desc-contact{
    margin-bottom: 25px;
}
/*section à propos de moi*/
.blockpropos{
    padding-bottom: 50%;
}
.propos{
    font-size: 25px;
    text-align: justify;
    margin: 0 15%;
    padding-top: 40px;
}
/*section loisir*/
.icone{
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}
.monicone:before{
    border: 2px solid black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
/*Partie nom et métier*/
h1,h2{
    margin: 0;
}
.identite{
    padding: 8% 0;
}
.nom{
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.prenom{
    color: #FDD835;
}
.métier{
    font-size: 30px;
}
.dev{
    border-bottom: 3px solid #FDD835;
}
/*partie formation et expérience professionnelle*/
.titreleft{
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 2px solid #FDD835;
    margin-right: 10%;
    padding-bottom: 10px;
}
h4{
    text-transform: uppercase;
    font-size: 27px;
    margin: 0;
    padding-bottom: 2%;
}
h5{
    margin: 0;
    font-size: 25px;
    padding-bottom: 2%;
}
.desc{
    margin: 0;
    font-size: 22px;
}
.block{
    display: flex;
    margin: 6% 0;
}
.point{
    font-size: 10px;
    width: 3%;
}
.date{
    width: 35%;
}
.date2{
    margin: 0;
    font-size: 22px;
}
.description{
    text-align: justify;
    margin-right: 50px;
    font-size: 20px;
    width: 50%;
}
.icones:before{
    margin-right: 50px;
    color: #FDD835;
    font-size: 35px;
}
.fa-circle:before {
    color: #FDD835;
    margin-right: 20px;
}
.cercle{
    margin-right: 2%;
    font-size: 15px;
    color: #FDD835;
}
/*partie recommandation*/
.recommandation{
    width: 50%;
}
.name{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}
.function{
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}
.phone{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 20px;
}
.mail{
    margin-top: 5px;
    font-size: 20px;
}
.photo2{
    display: none;
}
@media all and (max-width: 1024px)
{
    .page{
        display: block;
    }
    .containerleft{
        background-color:#FDD835;
        width: 100%;
        order: 2;
    }
    .containerright{
        margin-left: 0;
        order: 1;
        width: 100%;
    }
    .identite{
        text-align: center;
        padding: 0;
    }
    .titreleft{
        text-align: center;
        margin-left: 10%;
     }
    .photo{
        display: none;
    }
    .image{
        border-radius: 100%;
        border: 3px solid #FDD835;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 10px auto;
    }
    .photo2{
        display: flex;
        background-color: #FDD835;
    }
    .block{
        margin-top: 6%;
        margin-left: 10%;
    }
    .titre{
        margin-bottom: 20px;
    }
    .contact{
        font-size: 25px;
        text-align: center;
        margin-left: 0;
        padding-bottom: 0; 
    }
    .blockcontact {
        margin-bottom: 30px;
        text-align: center;
    }
    .blockpropos {
        margin-bottom: 30px;
        padding: 0;
    }
    .propos{
        padding-bottom: 40px;
    }
    .nom{
        margin-top: 40px;
        margin-bottom: 0;
    }
    .métier{
        padding-bottom: 0;
        margin-bottom: 40px;
    }
    .recommandation{
        margin-left: 8%;
    }
    .icone{
        padding-bottom: 50px;
    }
    .page{
        display: flex;
        flex-direction: column;
    }
}
@media all and (max-width: 767px)
{
    .page{
        width: 100%;
    }
    .img{
        width: 150px;
        height: 150px;
    }
    .image{
        width:150px;
        height:150px;
    }
    .contact{
        font-size: 20px;
    }
    .monicone:before{
        font-size: 30px;
    }
    .nom{
        font-size: 35px;
    }
    .métier{
        font-size: 20px;
    }
    .icones:before{
        margin-right: 15px;
        font-size: 30px;
    }
    ul{
        padding: 0;
    }
    .date{
        width: 30%;
        font-size: 12px;
    }
    h4,h5{
        font-size: 15px;
    }
    .desc{
        font-size: 15px;
    }
    body{
        margin:0;
    }
    .titreleft{
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .description{
        margin-right: 20px;
    }
    .point{
        width: 6%;
    }
    .recommandation{
        margin-left: 0;
    }
    .name{
        font-size: 15px;
    }
    .function{
        font-size: 13px;
    }
    .phone{
        font-size: 10px;
    }
    .mail{
        font-size: 10px;
    }
    .loisir{
        padding-bottom: 0;
    }
    .propos{
        margin: 0 35px;
        font-size: 20px;
    }
    .date2{
        font-size: 15px;
    }
}
