body{
    margin:0;
}
.page{
    display: flex;
}
.containerleft{
    width: 30%;
    background-color:#8C9EFF;
}
.containerright{
    width: 70%;  
}
/*Partie gauche*/
.photo{
    padding-top: 30px;
    text-align: center;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid 1px #8C9EFF;
}
.blockpropos{
    margin-bottom: 160%;
}
.titre{
    font-size: 30px;
    text-transform: uppercase;
    background-color: #FFF59D;
    text-align: center;
    padding: 10px 0;
    color: #8C9EFF;
}
.contact{
    font-size: 20px;
    margin-left: 70px;
    padding-bottom: 10px;
}
.propos{
    font-size: 20px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
}
.monicone:before{
    border: 3px solid black;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 25px;
}
.fa-caravan:before{
    margin: 0;
}
.icone{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/*Partie nom et métier*/
.nom{
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 80px;
}
.prenom{
    color: #8C9EFF;
}
.identite{
    padding-left: 10%;
}
.dev{
    border-bottom: 3px solid #8C9EFF ;
}
.métier{
    font-size: 25px;
    margin-bottom: 75px;
}
/*partie formation et expérience professionnelle*/
.titreleft{
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #8C9EFF;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
}
h3{
    text-transform: uppercase;
}
.block{
    display: flex;
    margin-left: 8%;
    margin-top: 4%;
}
.point{
    font-size: 10px;
    width: 3%;
}
.date{
    width: 35%;
    font-size: 20px;
}
.description{
    text-align: justify;
    margin-right: 50px;
    font-size: 20px;
    width: 50%;
}
.icones:before{
    margin-right: 50px;
    color: #8C9EFF;
    font-size: 35px;
}
.fa-circle:before {
    color: #8C9EFF;
    margin-right: 20px;
}
.cercle{
    margin-right: 1.5%;
    font-size: 15px;
    color: #8C9EFF;
}
/*partie recommandation*/
.name{
    margin-right: 35%;
}
h4{
    margin-top: 0px;
    margin-bottom: 3px;
}
h3{
    margin-bottom: 5px;
    margin-top: 5px;
}
/*partie recommandation*/
.recommandation{
    width: 50%;
    margin-left: 2%;
}
.name{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.function{
    font-weight: bold;
    margin-bottom: 2px;
}
.phone{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
}
.mail{
    margin-top: 5px;
}
.reco{
    margin-bottom: 50px;
}
.image{
    display: none;
}
@media all and (max-width: 1024px)
{
    .page{
        display: block;
    }
    .containerleft{
        background-color:#8C9EFF;
        width: 100%;
    }
    .img{
        display: none;
    }
    .image{
        display: flex;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: solid 1px #8C9EFF;
        margin: 0 auto;
        padding: 30px;
    }
    .photo{
        padding-top: 0;
        background-color:#8C9EFF;
    }
    .titre{
        margin-bottom: 20px;
    }
    .contact{
        font-size: 25px;
        text-align: center;
        margin-left: 0;
        padding-bottom: 0; 
    }
    .blockcontact {
        margin-bottom: 30px;
    }
    .blockpropos {
        margin-bottom: 30px;
    }
    .propos{
        padding-bottom: 40px;
    }
    .containerright{
        width: 100%;  
    }
    .titreleft{
       text-align: center;
    }
    .identite{
        text-align: center;
        padding-left: 0;
    }
    .nom{
        margin-top: 40px;
        margin-bottom: 0;
    }
    .métier{
        padding-bottom: 0;
        margin-bottom: 40px;
    }
    .recommandation{
        margin-left: 8%;
    }
    .icone{
        padding-bottom: 50px;
    }
    .page{
        display: flex;
        flex-direction: column;
    }
    .containerleft{
        order: 2;
    }
    .containerright{
        order: 1;
    }
}
@media all and (max-width: 767px)
{
    .img{
        width: 150px;
        height: 150px;
    }
    .image{
        width:150px;
        height:150px;
    }
    .contact{
        font-size: 20px;
    }
    .monicone:before{
        font-size: 30px;
    }
    .nom{
        font-size: 35px;
    }
    .métier{
        font-size: 20px;
    }
    .icones:before{
        margin-right: 15px;
        font-size: 30px;
    }
    ul{
        padding: 0;
    }
    .date{
        width: 30%;
        font-size: 12px;
    }
    h3,h4{
        font-size: 15px;
    }
    .desc{
        font-size: 15px;
    }
    body{
        margin:0;
    }
    .titreleft{
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .description{
        margin-right: 20px;
    }
    .point{
        width: 6%;
    }
    .recommandation{
        margin-left: 0;
    }
    .function{
        font-size: 13px;
    }
    .phone{
        font-size: 10px;
    }
    .mail{
        font-size: 10px;
    }
    .loisir{
        padding-bottom: 0;
    }
}
