body{
    margin: 0;
}
.page{
    display: flex;
}
.containerleft{
    width: 30%;
    background-color:#FFC107;
}
.containerright{
    width: 70%;  
}
/*Partie gauche*/
.img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    display: block;
    margin: 50px auto;
}
.blockcontact{
    margin-bottom: 20%;
}
.blockpropos{
    margin-bottom: 140%;
}
.titre{
    font-size: 30px;
    text-transform: uppercase;
    height: 40px;
    display: block;
    background-color: #424242;
    text-align: center;
    padding-top: 10px;
    color: #FFC107;
}
.contact{
    font-size: 20px;
    margin-left: 70px;
    padding-bottom: 40px;;
}
.propos{
    font-size: 20px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
}
.fa-gamepad:before {
    border: 3px solid black;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
}
.fa-hiking:before {
    border: 3px solid black;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
}
.fa-caravan:before {
    border: 3px solid black;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
}
.icone{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/*Partie nom et métier*/
.nom{
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 125px;
}
.prenom{
    color: #FFC107;
}
.identite
{
    padding-left: 10%;
}
.dev{
    border-bottom: 3px solid #FFC107 ;
}
.métier{
    font-size: 25px;
    padding-bottom: 115px;
}
/*partie formation et expérience professionnelle*/
.titreleft{
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #FFC107;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
}
h3{
    text-transform: uppercase;
}
.block{
    display: flex;
    margin-left: 8%;
    margin-top: 4%;
}
.point{
    font-size: 10px;
    width: 3%;
}
.date{
    width: 35%;
}
.description{
    text-align: justify;
    margin-right: 50px;
    font-size: 20px;
    width: 50%;
}
.fa-graduation-cap:before {
    margin-right: 50px;
    color: #FFC107;
    font-size: 35px;
}
.fa-briefcase:before {
    margin-right: 50px;
    color: #FFC107;
    font-size: 35px;
}
.fa-pencil-alt:before {
    margin-right: 50px;
    color: #FFC107;
    font-size: 35px;
}
.fa-circle:before {
    color: #FFC107;
    margin-right: 20px;
}
.cercle{
    margin-right: 1.5%;
    font-size: 15px;
    color: #FFC107;
}
/*partie recommandation*/
.name{
    margin-right: 35%;
}
h4{
    margin-top: 0px;
    margin-bottom: 3px;
}
h3{
    margin-bottom: 5px;
    margin-top: 5px;
}
p{
    margin-top: 10px;;
}
li{
    list-style-type: none;
}
.recommandation{
    width: 50%;
    margin-left: 2%;
}
